openapi: 3.1.0
info:
  title: Hive Public Actions Teams API
  description: 'REST API for the Hive (hive.com) work-management platform. Provides

    CRUD access to workspaces, projects, actions (tasks), users, teams,

    comments, attachments, labels, custom fields, sprints, dashboards,

    webhooks, and workflows. Endpoint list derived from

    https://developers.hive.com/llms.txt.

    '
  version: '1.0'
  contact:
    name: Hive Developers
    url: https://developers.hive.com/reference/introduction
servers:
- url: https://app.hive.com/api/v1
  description: Hive Public API v1
security:
- ApiKeyAuth: []
tags:
- name: Teams
paths:
  /teams:
    post:
      summary: Create a team
      operationId: createTeam
      responses:
        '201':
          description: Created
      tags:
      - Teams
  /teams/{teamId}:
    parameters:
    - name: teamId
      in: path
      required: true
      schema:
        type: string
    put:
      summary: Update a team
      operationId: updateTeam
      responses:
        '200':
          description: OK
      tags:
      - Teams
    delete:
      summary: Delete a team
      operationId: deleteTeam
      responses:
        '204':
          description: Deleted
      tags:
      - Teams
  /teams/{teamId}/members:
    parameters:
    - name: teamId
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Add a team member
      operationId: addTeamMember
      responses:
        '201':
          description: Created
      tags:
      - Teams
    delete:
      summary: Remove a team member
      operationId: removeTeamMember
      responses:
        '204':
          description: Deleted
      tags:
      - Teams
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: Workspace-scoped API token issued from Hive admin settings.
